#container{
    background-color: aqua;
}
#header{
    background-color:azure
}
#footer{
    background-color:bisque
}
#panel1{
    background-color:blue
}
#panel2{
    background-color:bisque
}
#body{
    background-color:brown
}
