#container{
    background-color:blue;
    height: 20px;
    width:200vh;
    margin:0;
    padding:0;
}
header{
    background-color:blueviolet;
    height: 80px;
    font-size:60px;
    text-align:center;
    font-family:Georgia;
}

body{
    background-color:aqua;
    height:min-content;
}

footer{
    background-color:azure;
    height: 50px;
    text-align:center
}
nav{
    display:block;
    background-color:blanchedalmond;
    font-size:larger;
    height: 40px;
}